.home-button {
    margin-top: 8px;
  }
  .headerbar {
    height: 50px;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
  }
  .site-name {
    flex: 1;
    margin-left: 2%;
  }
  article {
    margin-top: 50px;
  }

.hamburger {
    /* padding-left: 10px; */
    margin: 0 2% 0 0;
  }
  .sidebar {
    padding: 10px;
    margin: 0;
  }
  .sidebar > li {
    list-style: none;
    margin-bottom:10px;
  }
  .sidebar a {
    text-decoration: none;
  }
  .close-sidebar {
    font-size: 1.5em;
    padding-left: 5px;
  }
  .mainbanner {
    background-color: #E01C2D;
    font-family: 'bebas_neuebold'!important;
    color: #fff;
    text-align: center;
    margin: 13% 0 0 0;
    padding: 4% 4% 4% 4%;
}

.imagesection {
    margin: 4% 4%;
    padding: 0 10%;
    text-align: center;
}
.technology {
    background: #F7F7F7;
    padding: 4% 4%;
}
.technology h2 { text-align:center}
.tech {
    padding: 0 0 0 10%;
}
.tech button{
    background: transparent;
    border: 1px solid #6A6A6A;
    padding: 2% 4%;
    border-radius: 4px;
    margin: 0 5% 5% 0;
}

.videos {
    padding: 0 6%;
    text-align: center;
}
.youtubevid {
    margin: 10% 0;
}